[submodule "data"]
	path = data
	url = git://github.com/shogun-toolbox/shogun-data.git
	branch = master
[submodule "doc/tutorial"]
	path = doc/tutorial
	url = git://github.com/shogun-toolbox/shogun-tutorial.git
[submodule "doc/md"]
	path = doc/md
	url = git@github.com:shogun-toolbox/shogun.wiki.git
