[submodule "data"]
	path = data
	url = git://github.com/shogun-toolbox/shogun-data.git
	branch = master
[submodule "doc/tutorial"]
	path = doc/tutorial
	url = git://github.com/shogun-toolbox/shogun-tutorial.git
[submodule "debian"]
	path = debian
	url = git://github.com/shogun-toolbox/shogun-debian.git
[submodule "doc/wiki"]
	path = doc/wiki
	url = git://github.com/shogun-toolbox/shogun-wiki.git
