[submodule "data"]
	path = data
	url = git://github.com/tbskm/shogun-data.git
	branch = master
[submodule "doc/tutorial"]
	path = doc/tutorial
	url = git://github.com/shogun-toolbox/shogun-tutorial.git
