*.o
*.pyc
*doxygen_xml
*_wrap.h
*_wrap.cxx
*.so
*.so.*
*.a
*_doxygen.i
.depend
.config
*.pyc
TAGS
tags
configure.log
*.swp
*.swo

# /doc/
/doc/html
/doc/doxygen
/doc/manual

# /src/
/src/libshogun/lib/versionstring.h
/src/libshogun/lib/config.h
/src/libshogun/base/class_list.cpp
/src/shogun
/src/libshogun/Makefile
/src/cmdline/Makefile
/src/elwms/Makefile
/src/libshogun/Makefile
/src/libshogunui/Makefile
/src/matlab/Makefile
/src/octave/Makefile
/src/octave_modular/Makefile
/src/python/Makefile
/src/python_modular/Makefile
/src/r/Makefile
/src/r_modular/Makefile

# /examples/
/examples/documented
/examples/missing.log
