language: cpp
compiler:
  - gcc
branches:
  only:
    - master
notifications:
  recipients:
    - wiking@jol.hu
  email:
    on_success: change
    on_failure: alwaye
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq cdbs libeigen3-dev libarpack2-dev libatlas-base-dev libblas-dev libglpk-dev libhdf5-serial-dev libjson0-dev swig zlib1g-dev libxml2-dev libreadline6-dev libreadline-dev libsnappy-dev liblzo2-dev liblzma-dev liblapack-dev
before_script: cd ./src
script: ./configure && make -j 4 && make tests
