language: cpp
compiler:
  - gcc
  - clang
notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#shogun"
    on_success: change
    on_failure: always
    template:
      - "it's %{author}'s turn to pay the next round of drinks for the massacre he caused in %{repository}: %{build_url}"
env:
 - CMAKE_OPTIONS="-DGOOGLE_MOCK_SOURCE_DIR=`pwd`/shogun-toolbox/shogun/gmock-1.6.0" EXTRA_PACKAGES="valgrind"
 - CMAKE_OPTIONS="-DPythonModular=ON" EXTRA_PACKAGES="python-numpy-dev python-dev python-scipy swig2.0"
 - CMAKE_OPTIONS="-DPythonModular=ON" EXTRA_PACKAGES="python3-numpy python3-dev python3-scipy swig2.0"
 - CMAKE_OPTIONS="-DRModular=ON" EXTRA_PACKAGES="r-base-core swig2.0"
 - CMAKE_OPTIONS="-DJavaModular=ON" EXTRA_PACKAGES="openjdk-6-jdk jblas ant swig2.0"
 - CMAKE_OPTIONS="-DRubyModular=ON" EXTRA_PACKAGES="ruby ruby-dev ruby-narray swig2.0"
 - CMAKE_OPTIONS="-DCSharpModular=ON" EXTRA_PACKAGES="mono-devel mono-gmcs cli-common-dev swig2.0"
 - CMAKE_OPTIONS="-DLuaModular=ON" EXTRA_PACKAGES="lua5.1 liblua5.1-0-dev swig2.0"
 - CMAKE_OPTIONS="-DOctaveModular=ON" EXTRA_PACKAGES="octave octave3.2-headers swig2.0"
matrix:
  exclude:
    - compiler: gcc
      env: CMAKE_OPTIONS=python_static EXTRA_PACKAGES="python-numpy-dev python-dev"
    - compiler: gcc
      env: CMAKE_OPTIONS="-DPythonModular=ON" EXTRA_PACKAGES="python-numpy-dev python-dev python-scipy swig2.0"
    - compiler: gcc
      env: CMAKE_OPTIONS="-DPythonModular=ON" EXTRA_PACKAGES="python3-numpy python3-dev python3-scipy swig2.0"
    - compiler: gcc
      env: CMAKE_OPTIONS="-DRModular=ON" EXTRA_PACKAGES="r-base-core swig2.0"
    - compiler: gcc
      env: CMAKE_OPTIONS="-DJavaModular=ON" EXTRA_PACKAGES="openjdk-6-jdk jblas ant swig2.0"
    - compiler: gcc
      env: CMAKE_OPTIONS="-DRubyModular=ON" EXTRA_PACKAGES="ruby ruby-dev ruby-narray swig2.0"
    - compiler: gcc
      env: CMAKE_OPTIONS="-DCSharpModular=ON" EXTRA_PACKAGES="mono-devel mono-gmcs cli-common-dev swig2.0"
    - compiler: gcc
      env: CMAKE_OPTIONS="-DLuaModular=ON" EXTRA_PACKAGES="lua5.1 liblua5.1-0-dev swig2.0"
    - compiler: clang
      env: CMAKE_OPTIONS="-DOctaveModular=ON" EXTRA_PACKAGES="octave octave3.2-headers swig2.0"
virtualenv:
  system_site_packages: true
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq libbz2-dev cdbs libeigen3-dev libarpack2-dev libatlas-base-dev libblas-dev libglpk-dev libhdf5-serial-dev libjson0-dev swig zlib1g-dev libxml2-dev libreadline6-dev libreadline-dev libsnappy-dev liblzo2-dev liblzma-dev liblapack-dev gdb cmake $EXTRA_PACKAGES
before_script: 
  - mkdir build
  - cd build
script: cmake -DENABLE_TESTING=ON $CMAKE_OPTIONS .. && make -j 4 && sudo make install && ctest --output-on-failure
