.bs-sidenav {
    background-color: #fff !important;
    padding-top: 0;
    margin-top: 20pt;
}

.footer {
    margin-top: 30pt !important;
}

#tabs {
    margin-top: 25pt !important;
}

#sidebar > ul > p.caption {
    padding: 10px;
    text-shadow: none !important;
    font-weight: 300;
    font-size: 1.5em;
    padding-left: 0px;
}

#sidebar li.toctree-l1:last-child {
    margin-bottom: 10px;
}

div.toctree-wrapper > p.caption {
    display: none;
}

#sidebar li.toctree-l1 > a {
    padding-left: 0px;
    font-size: 100%;
}

#sidebar li.toctree-l1 {
    text-shadow: none !important;
    border: none;
}

#sidebar li.toctree-l1 .current {
    color: #000;
}

#sidebar li.toctree-l1 :hover {
    background-color: transparent;
    border: none;
    color: #000;
}

.section > h1 {
    font-weight: 300;
    margin-bottom: 0.5em;
}

.section > h2 {
    font-weight: 300;
    margin-bottom: 0.5em;
}

.citation td.label {
    display: block;
}

